<html xmlns:x="http://www.w3.org/1999/html">
<div class="easyui-layout" data-options="fit:true,border:false" >
    <div data-options="region:'center',border:false" style="overflow: hidden;padding: 3px;" >
        <form id="deviceAddForm" method="post">
            <table class="grid">
                <tr>
                    <td>设备序列号</td>
                    <td><input name="code" type="text" class="easyui-validatebox" data-options="required:true"></td>
                </tr>
                <tr>
                    <td>设备类型</td>
                    <td><x:select name="type" class="easyui-combobox" type="deviceType" data-options="width:160,height:29,editable:false,panelHeight:'auto'"/></td>
                    <td>设备名称</td>
                    <td><input name="name" type="text" class="easyui-validatebox" data-options="required:true"></td>
                </tr>
                <tr>
                    <td>品牌</td>
                    <td><select id="cameraBrandSelect" name="brandId" class="easyui-combobox"></select></td>
                    <td>设备ip</td>
                    <td><input name="ip" type="text" class="easyui-validatebox" data-options="required:true"></td>
                </tr>
                <tr>
                    <td>用户名</td>
                    <td><input name="user" type="text" class="easyui-validatebox"></td>
                    <td>密码</td>
                    <td><input name="passwd" type="text" class="easyui-validatebox"></td>
                </tr>
                <tr>
                    <td>开门标志</td>
                    <td><x:select name="openFlag" class="easyui-combobox" type="openFlag" data-options="width:160,height:29,editable:false,panelHeight:'auto'"/></td>
                </tr>
                <tr>
                    <td>开门设备序列号</td>
                    <td><select id="openCodeSelect" name="openCode" class="easyui-combobox"></select></td>
                    <td>开门通道</td>
                    <td><input name="openChannel" type="text" class="easyui-validatebox"></td>
                </tr>
                <tr>
                    <td>主码流</td>
                    <td colspan = "3"><input name="mainStream" type="text" readonly="readonly" style="width: 420px;" class="easyui-validatebox"></td>
                </tr>
                <tr>
                    <td>辅码流</td>
                    <td colspan = "3"><input name="subStream" type="text" readonly="readonly" style="width: 420px;" class="easyui-validatebox"></td>
                <tr>
                <tr>
                    <td>人脸宽度</td>
                    <td><input name="faceWidth" value="160" type="text" class="easyui-validatebox" data-options="required:true"></td>
                    <td>人脸高度</td>
                    <td><input name="faceHeight" value="160" type="text" class="easyui-validatebox" data-options="required:true"></td>
                </tr>
                <tr>
                    <td>经度</td>
                    <td><input name="lng" type="text" class="easyui-validatebox"></td>
                    <td>纬度</td>
                    <td><input name="lat" type="text" class="easyui-validatebox"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('#cameraBrandSelect').combobox({
            url: basePath + '/cameraBrand/select',
            valueField : 'brandId',
            textField : 'brandName'
        });

        $('#openCodeSelect').combobox({
            url: basePath + '/device/select',
            valueField : 'code',
            textField : 'name'
        });

        $('#deviceAddForm').form({
            url : basePath + '/device/add',
            onSubmit : function() {
                progressLoad();
                var isValid = $(this).form('validate');
                if (!isValid) {
                    progressClose();
                }
                return isValid;
            },
            success : function(result) {
                progressClose();
                result = $.parseJSON(result);
                if (result.code === 1) {
                    //之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为list页面预定义好了
                    parent.$.modalDialog.openner_dataGrid.datagrid('reload');
                    parent.$.modalDialog.handler.dialog('close');
                } else {
                    var form = $('#deviceAddForm');
                    parent.$.messager.alert('错误', result.msg, 'error');
                }
            }
        });
    });
</script>
