<html xmlns:th="http://www.thymeleaf.org" xmlns:x="http://www.w3.org/1999/html">
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="cameraEditForm" method="post">
            <table class="grid">
                <input name="id" type="hidden" th:value="${camera.id}">
                <input name="isOnline" type="hidden" th:value="${camera.isOnline}">
                <input name="heartTime" type="hidden">
                <input name="createBy" type="hidden" th:value="${camera.createBy}">
                <input name="createTime" type="hidden">
                <tr>
                    <td>编码</td>
                    <td><input name="code" type="text" placeholder="请输入编码" class="easyui-validatebox" data-options="required:true" th:value="${camera.code}"></td>
                    <td>点位名称</td>
                    <td><input name="locationName" type="text" placeholder="请输入点位名称" class="easyui-validatebox" data-options="required:true" th:value="${camera.locationName}"></td>
                </tr>
                <tr>
                    <td>品牌</td>
                    <td><select id="cameraBrandEditSelect" name="brandId" class="easyui-combobox" data-options="required:true"></select></td>
                    <td>ip</td>
                    <td><input name="ip" type="text" placeholder="请输入ip" class="easyui-validatebox" data-options="required:true" th:value="${camera.ip}"></td>
                </tr>
                <tr>
                    <td>用户名</td>
                    <td><input name="user" type="text" placeholder="请输入用户名" class="easyui-validatebox" data-options="required:true" th:value="${camera.user}"></td>
                    <td>密码</td>
                    <td><input name="passwd" type="text" placeholder="请输入密码" class="easyui-validatebox" data-options="required:true" th:value="${camera.passwd}"></td>
                </tr>
                <tr>
                    <td>主码流</td>
                    <td colspan = "3"><input name="mainStream" type="text" class="easyui-validatebox" readonly="readonly" style="width: 400px;" th:value="${camera.mainStream}"></td>
                </tr>
                <tr>
                    <td>辅码流</td>
                    <td colspan = "3"><input name="subStream" type="text" class="easyui-validatebox" readonly="readonly" style="width: 400px;" th:value="${camera.subStream}"></td>
                </tr>
                <tr>
                    <td>经度</td>
                    <td><input name="longitude" type="text"  class="easyui-validatebox" th:value="${camera.longitude}"></td>
                    <td>纬度</td>
                    <td><input name="latitude" type="text" class="easyui-validatebox"  th:value="${camera.latitude}"></td>
                </tr>
                <tr>
                    <td>状态</td>
                    <td>
                        <x:select id="cameraEditStatus" name="status" type="dbStatus" class="easyui-combobox" data-options="width:160,height:29,editable:false,panelHeight:'auto'"/>
                    </td>
                </tr>
                <tr>
                    <td>创建人</td>
                    <td><input name="createBy" type="text" class="easyui-validatebox" disabled="disabled" th:value="${camera.createBy}" ></td>
                    <td>创建时间</td>
                    <td><input name="createTime" type="text" class="easyui-validatebox" disabled="disabled" ></td>
                </tr>
                <tr>
                    <td>修改人</td>
                    <td><input name="updateBy" type="text" class="easyui-validatebox" disabled="disabled" th:value="${camera.updateBy}" ></td>
                    <td>修改时间</td>
                    <td><input name="updateTime" type="text" class="easyui-validatebox" disabled="disabled"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('#cameraBrandEditSelect').combobox({
            url: basePath + '/cameraBrand/select',
            valueField : 'brandId',
            textField : 'brandName',
            value: '[[${camera.brandId}]]'
        });

        $('#cameraEditForm').form({
            url : basePath + '/camera/edit',
            onSubmit : function() {
                progressLoad();
                var isValid = $(this).form('validate');
                if (!isValid) {
                    progressClose();
                }
                return isValid;
            },
            success : function(result) {
                progressClose();
                result = $.parseJSON(result);
                if (result.code === 1) {
                    //之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为list页面预定义好了
                    parent.$.modalDialog.openner_dataGrid.datagrid('reload');
                    parent.$.modalDialog.handler.dialog('close');
                } else {
                    var form = $('#cameraEditForm');
                    parent.$.messager.alert('错误', result.msg, 'error');
                }
            }
        });
        $("#cameraEditStatus").val('[[${camera.status}]]');
        $("input[name='createTime']").val('[[${camera.createTime}]]'.replace("T"," "));
        $("input[name='heartTime']").val('[[${camera.heartTime}]]'.replace("T"," "));
        $("input[name='updateTime']").val('[[${camera.updateTime}]]'.replace("T"," "));
    });
</script>
