<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dreamlu.system.mapper.BoxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.dreamlu.system.model.Box">
        <id column="id" property="" />
        <result column="name" property="name" />
        <result column="serial_no" property="serialNo" />
        <result column="upper_limit" property="upperLimit" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="platform_address" property="platformAddress" />
        <result column="platform_port" property="platformPort" />
        <result column="platform_user" property="platformUser" />
        <result column="platform_pwd" property="platformPwd" />
        <result column="mq_address" property="mqAddress" />
        <result column="mq_port" property="mqPort" />
        <result column="mq_user" property="mqUser" />
        <result column="mq_pwd" property="mqPwd" />
        <result column="version" property="version" />
        <result column="binding_status" property="bindingStatus" />
        <result column="bingding_time" property="bingdingTime" />
    </resultMap>

</mapper>
