<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dreamlu.system.mapper.DeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.dreamlu.system.model.Device">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="brand_id" property="brandId" />
        <result column="ip" property="ip" />
        <result column="user" property="user" />
        <result column="passwd" property="passwd" />
        <result column="main_stream" property="mainStream" />
        <result column="open_flag" property="openFlag" />
        <result column="open_code" property="openCode" />
        <result column="open_channel" property="openChannel" />
        <result column="sub_stream" property="subStream" />
        <result column="face_width" property="faceWidth" />
        <result column="face_height" property="faceHeight" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="is_online" property="isOnline" />
        <result column="heart_time" property="heartTime" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <update id="updateHeart">
        update t_device
        set is_online = 1,heart_time = now()
        where code = #{code};
    </update>


    <resultMap id="DeviceVoResultMap" type="net.dreamlu.system.vo.DeviceVO">
        <result column="code" property="serialNo" />
        <result column="type" property="type" />
        <result column="brand_code" property="brandCode" />
        <result column="ip" property="ip" />
        <result column="user" property="user" />
        <result column="passwd" property="passwd" />
        <result column="open_flag" property="openFlag" />
        <result column="open_code" property="openSerialNo" />
        <result column="open_channel" property="openChannel" />
        <result column="main_stream" property="mainStream" />
        <result column="face_width" property="faceWidth" />
        <result column="face_height" property="faceHeight" />
    </resultMap>

    <select id="getDeviceList" resultMap="DeviceVoResultMap">
        SELECT
            a.`code`,
            a.`type`,
            b.brand_code,
            a.ip,
            a.user,
            a.passwd,
            a.open_flag,
            a.open_code,
            a.open_channel,
            a.main_stream,
            a.face_width,
            a.face_height
        FROM t_device a
        LEFT JOIN t_camera_brand b on b.id = a.brand_id;
    </select>

</mapper>
